/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.shadow {
  width: 29%;
  display: inline-block;
}

.shadow.large {
  width: 58%;
  height: 58%;
  float: left;
  overflow: auto;
  }

.shadow.small {
  float: left;
  overflow: auto;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper.bottom {
  width:29%;
  display: inline-block;
}
/* Positioning Classes */